:root {
  --primary-color: #345995;
  --secondary-color: #03cea4;
  --text: #454545;
  --off-white: #efefef;
  --white: #fff;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 18px;
  line-height: 1.618;
  color: var(--text);
  scroll-behavior: smooth;
}

/* --------------------------------- Layout --------------------------------- */
.container {
  width: 100vw;
  height: 100vh;
}

.site {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* ------------------------------- Typography ------------------------------- */

.h1 {
  font-size: 48px;
}

.h2 {
  font-size: 40px;
}

.h3 {
  font-size: 32px;
}

.h4 {
  font-size: 16px;
}

.lead {
  opacity: 0.8;
  font-size: 24px;
}

/* -------------------------------------------------------------------------- */
/*                                 Components                                 */
/* -------------------------------------------------------------------------- */

/* --------------------------------- Navbar --------------------------------- */

.navbar {
  padding: 32px;
  background: var(--primary-color);
  color: var(--white);
  position: sticky;
}

.nav {
  padding: 16px 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.genre-button {
  padding: 8px 16px;
  background: var(--secondary-color);
  margin-right: 16px;
  border-radius: 50em;
  transition: all 0.3s ease-in-out;
}

.genre-button:hover,
.genre-button--selected {
  background: #04f1c2;
}

#topArtistsList {
  overflow-y: scroll;
}

.list--empty {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.artist-card {
  background-color: var(--white);
  position: sticky;
  top: 0;
  padding: 32px;
  border-top: 1px solid var(--primary-color);
  border-bottom: 1px solid var(--primary-color);
}

.artist-card:hover {
  background-color: var(--off-white);
}

.artist-card__link {
  color: var(--primary-color);
  text-decoration: none;
}
